bert4keras==0.10.6
keras==2.3.1
numpy==1.21.0
pandas==1.2.4
jieba==0.42.1
transformers==4.6.1
scikit-learn==0.23.2
gensim==4.0.1
matplotlib==3.0.2
ipywidgets==7.5.1
autopep8==1.5.3
openpyxl==3.0.3
scipy==1.4.1
dill==0.2.5
xlrd==1.2.0
wandb>0.10.31
sentencepiece==0.1.95
sphinx_rtd_theme>=0.5.2
sphinx>=4.1.1